* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #eef5e9;
    /* color:#2f3e2d; */
    line-height: 1.6;
    background-image: url(chandrashila.jpeg);
    background-size: cover;

}


header {
    background-color:#355e3b ;
    color:white;
    text-align:center;
    padding:40px 20px;

    font-family: "Montserrat", sans-serif;
}


header h1{
    font-size:2.8rem;
    margin-bottom:10px ;

}

header p {
    font-size: 1.1rem;
}

.treks{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;


    padding:40px;

}


.card {
    background:linear-gradient(135deg, #ffffff, #dcefd6);
    
    display: flex;
    flex-direction: column;

    width:320px;
    min-height: 420px ;
    border-radius:12px;
    padding:20px;
    border:solid 5px black;



    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

    transition: transform 0.3s ease;
    

}

.card:hover{
    transform: translateY(-8px);

}


.card h3 {
    color: #355e3b;
    margin-bottom: 20px;
    text-align: center;
    /* font-weight: 500; */


}


.card p {
    margin:5px;
    
}

.card strong {
    color: #355e3b;
}


.card img{
    width:100%;
    height:150px;
    object-fit: cover;
    border-radius: 15px;  
    /* what it does is makes the image circular ig, baaki too dekhna pdega */
    border: solid 2px cadetblue;
}


.secondary-page {
    color:white;
    width: 80%;
    margin: 0 auto;
    


}


.secondaryy{
    background-color: #355e3b;
    width:100%;
    margin:0;
    padding: 50px 0;
}


.card button {
    /* idk what to add really, the button looks very lame i wana mke it more interactive  */
    padding:5px 5px;
    border:solid 2px green;
    border-radius: 8px;
    
    font-size:15px;
    transition: all 0.3s ease;
    font-weight: 700;
    

    display:block;
    margin:10px auto 0;



}

/*  remember :margin prop has 4 attributes and it works in clockwise format  */